services:
  dev:
    image: node:20.18-alpine
    container_name: hypercoin-development-dev
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "4321:4321"
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"

  prod:
    build: .
    ports:
      - "8080:80"

volumes:
  node_modules:
