---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectGrid from '../components/ProjectGrid.astro';
import About from '../components/About.astro';
---

<BaseLayout>
  <Header />
  <main>
    <ProjectGrid />
    <About />
  </main>
  <Footer />
</BaseLayout>
